
.modal-content {
     background-color: $clr-naranja;
    color: $clr-ceniza;
}
.btn-close{
    background-color: $clr-ceniza;
    background-image: url(../../assets/icon/Close.png);
    size: 20px;
}