
.modal-content {
     background-color: $clr-naranja;
    color: $clr-ceniza;
}

.precioProducto {
    text-align: center;
}

.boton-agregar {
    background-color: rgba(255, 68, 0, 0.937);
   &:hover {
    background-color: opacify($color: #831c1c7b, $amount: 0);
   }
}